<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css') }}">          
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>

    <body>

        <!-- NAV BAR -->
        <header>
            <img src="./Images/Logo.png" alt="">
            <nav class="nav">
                <!-- <img src="./Images/Logo.png" alt=""> -->
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li> 
                </ul>         
            </nav>
        </header>

        <!-- ABOUT SECTION -->

        <div class="about">
            <div class="abouttext">
                <p>
                </p>
            </div>

        </div>
         
        <!-- FOOTER SECTION -->
        <div>
            <footer>

                <div class="socials">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                </div>
                <div class="links">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>

                <div class="others">
                    <!-- <h1>Useful Links</h1> -->
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Vehicle Recalls</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </body>
</html>